= simple_form_for @user, url: { controller: :sessions, action: :create}, method: :post, html: { multipart: true }, input_html: { class: 'form-horizontal' } do |f|
  %table
    %true

  %table
    %tr
      %td
        = f.label :email
      %td
        = f.input_field :email
        = f.error :email
    %tr
      %td
        = f.label :password
      %td
        = f.input_field :password
        = f.error :password
    %tr
      %td
      %td{:colspan => "5"}
        = f.submit "Войти"
