
Личный кабинет 
%table
  %tr
    %td
      ФИО:
    %td
      = @user.name

  %tr
    %td
      E-mail:
    %td
      = @user.email

  %tr
    %td
      Дата рождения:
    %td
      = @user.date_birth
  %tr
    %td
      Город:
    %td
      = @user.city

Добавленные книги
%ul
  - @books.each do |h|
    %li
      %p 
        = link_to h.name, book_path(h.id)
      %p 
        = h.author
Книжная полка
%ul
  - @bookcase.each do |h|
    %li
      %p 
        = link_to h.book_name, book_path(h.book_id)
      %p 
        = h.author
