.container
  .row
    %table
      %tr
      .scrollspy-example{"data-offset" => "0", "data-spy" => "scroll", "data-target" => "#list-example"}
      %h4#list-item-1 Личная информация
      %table
        %tr
          %td
            ФИО:
          %td
            = @user.name
        %tr
          %td
            E-mail:
          %td
            = @user.email
        %tr
          %td
            Дата рождения:
          %td
            = @user.date_birth
        %tr
          %td
            Город:
          %td
            = @user.city
      %tr
        %h4#list-item-2 Добавленные книги
        .books
          %table
            - @books.each do |h|
              %tr
                %td
                  = link_to h.name, book_path(h.id)    
                %td 
                  = h.author
      %tr
        %h4#list-item-3 Книжная полка
        .books 
          %table
            - @bookcase.each do |h|
              %tr
                %td 
                  = link_to h.book_name, book_path(h.book_id)
                %td 
                  = h.author


:css
  .books{
    column-count: 2;
  }