Информация о книге
%table
  %tr
    %td
      Название
    %td
      = @book.name
  %tr
    %td
      Статус
    %td
      = @book.status
  %tr
    %td
      Автор
    %td
      = @book.author
  %tr
    %td
      Возрастные ограничения
    %td
      = @book.age_restrictions
      + 
  %tr
    %td
      Издательство
    %td
      = @publisher.name
  %tr
    %td
      Год издания
    %td
      = @book.year_publishing

  
