Информация о книге
%table
  %tr
    %td
      Название
    %td
      = @book.name
    %td
    %td
      Статус
    %td
      = @book.status
  %tr
    %td
      Автор
    %td
      = @user.author_id
   %tr
    %td
      Возрастные ограничения
    %td
      = @user.age_restrictions
  %tr
    %td
      Издательство
    %td
      = @user.publishing
  %tr
    %td
      Год издания
    %td
      = @user.year_publishing

  